<div class="comments">
  <h1>Comments</h1>
  <section class="background">


      <div id="comments">
        <% @comments.each do |comment| %>
          <%= render partial: "comment", locals: { comment: comment, post: @post } %>
        <% end %>
      </div>


    <div id="comments-form-container">
      <%= render partial: "form", locals: { comment: @comment, post: @post, topic: @topic } %>
    </div>

  </section>
</div>
