.about {
  .background {
    background-image: asset-url("coffee.jpg");
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background-2 {
    background-image: asset-url("honda.jpg");
    height: 50vh;
    width: 100%;
    background-position: 70% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: center;

  }

  .feature {
    flex: 10 0;
    margin: 20px 10px;
    padding-top: 30px;
  }

  .features1{
    background-color: black;
    height:30vh;
    margin: 50px auto;
  }

  .feature1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  h1{
    font-weight:bold;
    font-size: 100px;
    color: white;
    font-family:arial;
    position: relative;
  }

  h2{
    color: white;
  }

  h3{
    color: white;
  }
  p span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:arial;
    color: white;
  }
}
