.landing {
@media all and (max-width: 1199px) {
  .features {
    max-width: 600px;
  }
}

  .intro{
    position: relative;
    width: 100%;

    .background {
            background-image: asset-url("moto.jpg");
            height: calc(100vh - 52px);
            width: 100%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
          }
  }

  .about-us{
    background-color: #1e2731;
    padding: 100px;
    align-items: center;
    justify-content: center;
    display: flex;

    .content{
      padding: 10px;
    }

  }

    h1{
        font-weight:bold;
        font-size: 100px;
        color: white;
        font-family: 'Lora', serif;
      }

    h2{
        color: white;
        font-family: sans-serif;
      }
.background-2 {
  background-image: asset-url("mountains.jpg");
  height: 50vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  }
  .features {

    .feature-list{
      display: flex;
      max-width: 1200px;
      margin: 30px auto;
      justify-content: space-around;
    }
    .feature {
      flex: 0 0 280px;
      margin: 20px 10px;
    }

    .textbox{
      padding: 20px 10px;
    }
  }

  .minipics {
    padding: 20px 10px;
    background-color: #1e2731;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    height: 100%;
    width: 100%;
    justify-content: space-around;


    .image_tag{
    flex: 0 0 280px;
    position: relative;
    }

    .image_box{
     width: 100%;
    }


    .image_tag:hover .invisible-layout {
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
    }

    .invisible-layout {
      flex: 0 0 280px;
      position: relative;

    }
  }

}
