.topics{

.background{
    background-image: asset-url("ride.jpeg");
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
  text-align: center;
  vertical-align: text-top;
}
h2:link{
  text-align: center;
}

.topics_parent{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto;
  justify-content: space-between;
}

.topics_child{
  flex: 0 0 280px;
  margin: 20px 10px;
  border-style: solid;
  border-width: medium;
  text-align: center;

  a:link, a:visited, a:hover,a:active{
    color: white;
  }
}

.add_new{
 max-width: 1800px;
 height: 60px;
 background-color: white;
 text-align: center;

 a:link, a:visited, a:hover,a:active{
   color: black;
   padding-bottom: 10px;
 }
}


}
