<div class="topics">
  <h1>Topics</h1>
    <section class="background">
          <div id="topic">
            <% @topics.each do |topic| %>
            <%= render partial: "topic", locals: {topic: topic} %>
            <% end %>
          </div>

    <div id="topics-form-container">
      <%= render partial: "form", locals: {topic: @topic} %>
    </div>

  </section>
  <%= paginate @topics %>
</div>
