<div id="flash-messages-container">
<% flash.each do |k,v| %>
  <section class="flash-messages">
    <div class="alert alert-<%=k%>">
      <button type="button" class="close" data-dismiss="alert" id= "close">
        &times;
      </button>
      <div class="message">
        <%= display_message(v) %>
      </div>
    </div>
  </section>
<% end %>
</div>
