<div class="posts">
  <h1>Posts</h1>
  <section class="background">

    <div class="post_parent">
        <div id= "posts">
          <% @posts.each do |post| %>
            <%= render partial: "post", locals: {topic: @topic, post: post}%>
          <%end%>
        </div>

        <div id="posts-form-container">
          <%= render partial: "form", locals: {topic: @topic, post: @post}%>
        </div>
    </div>

  </section>
</div>
